<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Partidos.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <connectionStrings>
    <add name="MiConexion" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ISSD_TP4;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>