<configuration>
  <system.webServer>
    <handlers>
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>